html, main 
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    max-width: 900px;
    margin:  auto;
    padding: 20px;
    border-color: #e98b27;
    border-block-end: #b7bbeb;
    writing-mode: horizontal-tb;
    background: linear-gradient(#b7bbeb, #e5c6a5);
}
.avatar {
    margin-left: 40px;
    column-count: 2;
}
.name {
    text-align: right; 
    color: #f1eaea;   
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    color: #eadcdc; 
  }
  
  .nav-list li a {
    color: #f1eaea;
}
    .nav-list li a:hover {
  color: rgb(247, 135, 16);
  }

  .section {
    margin-bottom: 20px;
}
.section1 {
    margin-bottom: 20px;
}
.section2 {
    margin-bottom: 20px;
}
.section3 {
    margin-bottom: 20px;
}
.section4 {
    margin-bottom: 20px;
}
.section5 {
    margin-bottom: 20px;
}
.section6 {
    margin-bottom: 40px;
}
.section7 {
    margin-bottom: 20px;
}



footer 
{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #f1eaea;

    }
